<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="General Test Suite for WrikePhpLibrary">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>./build/</directory>
                <directory>./docs/</directory>
                <directory>./tests/</directory>
                <directory>./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
